.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-list {
    display: flex;
    align-items: center;
}

.header__nav-item {
    margin-right: 33px;

    &:last-child {
        margin-right: 0;
    }
}
.header__mobile-nav{
    position: absolute;
    top: 90px;
}
.header__nav-link {
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.92px;
    text-transform: uppercase;
    color: rgba(131, 136, 143, 1);
}

.header__nav-link:hover {
    color: rgba(51, 61, 75, 1);
}

.header__mobile-nav {
    display: none;
}

@media only screen and (max-width: 768px) {
    .header{
        padding: 0 40px;
    }
    .header-container {
        padding: 40px 0;
    }
}
@media only screen and (max-width: 615px) {
  .header__nav{
    display: none;
  }
}